{% extends 'main/base.html' %}
{% block title %}
Main page
{% endblock %}
{% load static %}
{% block content %}

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Gallery</h1>
                <hr>
                <div class="row">
                    {% for p in files %}
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="category-image">
                                    <img src="{{ p.image.url }}" height="200" alt="" class="w-100" >
                                </div>
                                <h4 class="text-center">{{ p.name }}</h4>
                            </div>
                        </div>
                        <br>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}

{% block scripts %}

{% endblock scripts %}


